@media(min-width:900px) {
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.author-section {
  width: 80%;

}
.author-bio-para {
  line-height: 2em;
  padding: 0 10px 0 2px;

}

.quote {
  padding: 15px 0 8px 0;
}

.blockquote {
  line-height: 2em;
  padding: 0 8px 0 2px;

}

.social {
  padding: 40px 0 20px 0;

}

.make-list {
  padding: 0 0 15px 0;

} 
.recipe-name {
  font-size: 2.6em;
  padding: 0 0 20px 0;
    
}

.ingredient-list {
  line-height: 3em;
  padding: 0 0 0 30px;

}

.ingredient-item {
  font-size: 1.7em;
}

.make-food {
  padding: 0 0 0 20px;
  
}

}

@media(min-width: 640px) and (max-width:800px) {
  
  .recipe-name {
    font-size: 2em;
   
  }
  .ingredient-item {
    font-size: 1.3em;
  
  }
  }


@media(max-width: 900px) {
  .content {
    grid-template-rows: 80vh 1fr;
  
  }
}
