.content {
  display: grid;
  grid-gap: 10px;
  background-color: #fff;
  padding: 30px 10px 30px 10px;
  height:auto;
  color: var(--clr-dark);

}

.avatar-img {
  height: 100px;
  width:100px;
  border-radius: 50%;

}

.author-name,
.author-title,
.author-company,
.author-bio,
.quote {
  font-family: var(--ff-primary);
  padding: 1px 0 8px 0;

}

.author-title {
  color: var(--clr-accent);
  
}

.author-bio-para {
  font-family: var(--ff-secondary);
  text-align: justify;

}

.social {
  font-family: var(--ff-primary);
  padding: 0 0 10px 0;
  text-align: center;

}

.social-icon {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.icon{
  font-size: 2.5em;
  padding: 3px 8px 0 0;
  color: var(--clr-light);

}

/* ----article section--- */
 .article {
  padding: 0 10px 0 10px;

}

.food-image {
  width: 45%;
  height: auto;
  border-top: 3px solid var(--clr-light);
}

.name-div{
  width: 45%;
  height: 100%;
}

.recipe-name {
  font-family: var(--ff-primary);
  color: var(--clr-accent);
  font-size: 1.5em;
  padding: 0 0 10px 0;

}


.ingredient-list {
  padding: 0 0 0 20px;

}

.ingredient-item {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  font-size: 1em;
  padding: 0 0 5px 0;

}

.article-one {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.make-para {
  font-family: var(--ff-primary);
  color: var(--clr-accent);
  padding: 10px 0 10px 0;

}

.make-item {
  font-family: var(--ff-secondary);
  padding: 0 0 5px 0;
  text-align: justify;

}
 
